*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Space Grotesk';
    font-size: 18px;
}
.container{
    /* box-shadow: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); */
    background: hsl(0, 0%, 100%);
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-row{
    background: url('../images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.card-col{
    margin: 100px 50px;
}
img{
    width: 100%;
}
.card-col .card-back{
    margin: 10px 50px;
}

.card-front, 
.card-logo,
.card-number-img,
.cardholder-exp-img,
.cvc-img{
    z-index: 100;
}
.card-front{
    position: absolute;
    width: 25%;
}
.card-logo{
    width: 5%;
    position: absolute;
    left: 18%;
    top: 23%;
}
.card-number-img{
    position: absolute;
    left: 18%;
    top: 37.5%;
    letter-spacing: 0.2em;
}
.cardholder-exp-img{
    position: absolute;
    width: 22%;
    top:42.5%;
    left: 18%;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--lightGrayishViolet);
}
.card-number-img, .cardholder-exp-img, .card-cvc{
    color: hsl(0, 0%, 100%);
}

.card-back{
    position: absolute;
    width: 25%;
    top: 50%;
}
.card-cvc{
    font-size: 0.8rem;
    position: absolute;
    left: 40%;
    top: 64%;
    letter-spacing: 0.2em;
}
input.form-control:focus, button.form-control:focus{
    box-shadow: none !important;
}
input.form-control:focus{
    border: 1px solid hsl(278, 94%, 30%) !important;
}
.form-col{
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: 375px;
}

label{
    font-weight: 500;
    font-size: 16px;
}
.errorFormat{
    font-size: 14px;
    color: hsl(0, 100%, 66%);
    /* visibility: hidden; */
}
.confirm-btn{
    background: hsl(278, 68%, 11%);
    border: none;
}

.thank-you{
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}
.thank-you img{
    width: 30%;
    margin: 20px auto;
}
.thank-you h1{
    color: hsl(278, 68%, 11%);
    font-size: 18px;
    padding: 20px auto;
    margin: 20px auto 0;
}
.thank-you p{
    color: hsl(279, 6%, 55%);
    font-size: 16px;
    padding: 20px auto;
    margin: 10px auto 30px;
}
@media (min-width:576px){
    .container{
        width: 992px;
    }
}
